{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/contacte">Català</a>/<a href="/es/contacte">Castellano</a>/<a href="/en/contacte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
   <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Menú <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                               <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle">Menu <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                        	
                                        	 <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                			
                                			<li class="dropdown"><a href="/condicions">Condicions i contracte</a></li>
                                			<li class="dropdown"><a href="/enllacos">Enllaços d'interés</a></li>
                                			<li class="dropdown"><a href="/sugerencies">Sugerencies</a></li>
                                
                                        </li>
                      
                                    </ul>
                                </li>
                                <li class="dropdown active"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
                        </div>
{% endblock %}



{% block contingut %}
	{% set nombre = 1 %}
	{% for apar in apartaments %}
		<div class="sidebar">
			<h1>{{apar.nom}}</h1>
			 	<div class="row-fluid">
					<div id="fotos" class="span3">
						<h3>Fotos</h3>
						<map name="image_map{{nombre}}">
							{% for x in apar.llistat_fotos() %}
								<a href="fotos/{{x.key().id()}}" rel="prettyPhoto[image_map{{nombre}}]" title="{{apar.nom}}"><img src="fotos_petites/{{x.key().id()}}" class="img-polaroid" width="60" height="60" alt="{{apar.nom}}" /></a>
		
							{% endfor %}
						</map>
					</div>
					<div id="fotos" class="span5">
						<h3>Localització</h3>
						<div  id="map-canvas{{nombre}}" style="width: 350px; height: 300px"></div>
					</div>
					<div class="span4">
						<h3>Descripció</h3>
							{{apar.descripcio}}
					</div>
				</div>
				
				
				
		
	
				<div class="row-fluid">
					
						{% for h in apar.llistat_habitatges() %}
							<div class="span4 alert-success">
	
								<h3>{{h.nom}}</h3>
								{% set nombre2 = 1 %}
								{% for x in h.llistat_fotos() %}
									<a href="fotos/{{x.key().id()}}" rel="prettyPhoto[image_map{{nombre}}{{nombre2}}]" title="{{h.nom}}"><img src="fotos_petites/{{x.key().id()}}" class="img-polaroid" width="60" height="60" alt="{{h.nom}}" /></a>
									{% set nombre2 = nombre2 +1 %}
								{% endfor %}
							
								<div>{{h.descripcio}}</div>
								<div ><span  class="span8 offset2 alert-error">Preu: {{h.preu}} euros</span></div>
							</div>
						{% endfor %}
					
				</div>
					
				
				
				
				{% set nombre = nombre +1 %}
		 </div>
		 
	{% endfor %}
	
{% endblock %}

{% block codi %}
<link rel="stylesheet" href="scripts/prettyphoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEG2_1W4dCjiFI9kCeENqZmQorADkSASM&sensor=true">
    </script>


    <script type="text/javascript">
      function initialize() {
      {% set nombre = 1 %}
		{% for apar in apartaments %}
		        var mapOptions = {
		          center: new google.maps.LatLng({{apar.localitzacio}}),
		          zoom: 18,
		          mapTypeId: google.maps.MapTypeId.ROADMAP
		        };
		        var map = new google.maps.Map(document.getElementById("map-canvas{{nombre}}"),
		            mapOptions);
    
      	{% set nombre = nombre +1 %}
      	{% endfor %}
        }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
	<script type="text/javascript" src="scripts/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <!--script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
  			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script-->
    <script type="text/javascript">
    	$("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false});
    	$("a[rel^='prettyPhoto'] img").hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});
    	</script>
{% endblock %}