{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/contacte">Català</a>/<a href="/es/contacte">Castellano</a>/<a href="/en/contacte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Navegació <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
      <ul class="nav nav-pills ddmenu">
                                <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown"><a href="/concepte">Concepte</a></li>
                                <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                <li class="dropdown active"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/condicions">Condicions</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
            </div>
{% endblock %}



{% block contingut %}
	{% set nombre = 1 %}
	{% for apar in apartaments %}
		<div class="hero-unit">
			<h1>{{apar.nom}}</h1>
			
		
	
				<div>	
					<div>{{apar.nom}}</div>
					<div>{{apar.disponible}}</div>
					<div>{{apar.localitzacio}}</div>
					<div>{{apar.descripcio}}</div>
					<div>{{apar.preu}}</div>
					
					</div>
				<div id="fotos">
					<map name="image_map{{nombre}}">
						{% for x in apar.fotos() %}
							<a href="fotos/{{x.key().id()}}" rel="prettyPhoto[image_map{{nombre}}]" title="{{apar.nom}}"><img src="fotos_petites/{{x.key().id()}}" class="img-polaroid" width="60" height="60" alt="{{apar.nom}}" /></a>
	
						{% endfor %}
					</map>
				</div>
				<div class="img-polaroid" id="map-canvas{{nombre}}" style="width: 300px; height: 300px"></div>
				{% set nombre = nombre +1 %}
		 </div>
		 
	{% endfor %}
	
{% endblock %}

{% block codi %}
<link rel="stylesheet" href="scripts/prettyphoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEG2_1W4dCjiFI9kCeENqZmQorADkSASM&sensor=true">
    </script>


    <script type="text/javascript">
      function initialize() {
      {% set nombre = 1 %}
		{% for apar in apartaments %}
		        var mapOptions = {
		          center: new google.maps.LatLng({{apar.localitzacio}}),
		          zoom: 4,
		          mapTypeId: google.maps.MapTypeId.ROADMAP
		        };
		        var map = new google.maps.Map(document.getElementById("map-canvas{{nombre}}"),
		            mapOptions);
    
      	{% set nombre = nombre +1 %}
      	{% endfor %}
        }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
	<script type="text/javascript" src="scripts/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
  			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>
    
{% endblock %}