{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/concepte">Català</a>/<a href="/es/concepte">Castellano</a>/<a href="/en/concepte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
   <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Menú <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                               <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle">Menu <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                        	
                                        	 <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                			
                                			<li class="dropdown active"><a href="/condicions">Condicions i contracte</a></li>
                                			<li class="dropdown"><a href="/enllacos">Enllaços d'interés</a></li>
                                			<li class="dropdown"><a href="/sugerencies">Sugerencies</a></li>
                                
                                        </li>
                      
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
                        </div>
{% endblock %}



{% block contingut %}
<div class="row-fluid">
        <div class="span8" id="divMain">
		
			<div class="sidebox">
				<p>Aquí disposeu dels enllaços per descarregar-vos en format pdf:</p>
				<ul>
					<li><a href="fitxers/reglamentRI.pdf" target="_blank">Reglament de règim intern</a></li>
					<li><a href="fitxers/contracte_student_life.pdf" target="_blank">Contracte</a></li>
				</ul>			
			
			</div>

				<!--embed id="mostrar_pdf" src="fitxers/reglamentRI.pdf" width="700" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">></embed-->
		</div>
                <div class="span4 sidebar">

                    <div class="sidebox">
                        <img src="http://placehold.it/600x600/e7e7e7" class="img-polaroid" style="margin:12px 0px;">                       
                    </div>
                    
                </div>
</div>
            
            
            
{% endblock %}
