{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/drets">Català</a>/<a href="/es/drets">Castellano</a>/<a href="/en/drets">English</a></div></div>
{% endblock %}

                      		


{% block menu %}
   						<button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Menú <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                               <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown active">
                                    <a href="" class="dropdown-toggle">Menu <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                        	
                                        	 <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                			
                                			<li class="dropdown"><a href="/condicions">Condicions i contracte</a></li>
                                			<li class="dropdown"><a href="/enllacos">Enllaços d'interés</a></li>
                                			<li class="dropdown"><a href="/suggerencies">Suggerencies</a></li>
                                
                                        </li>
                      
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
                        </div>
{% endblock %}



{% block contingut %}

   	<div class="row-fluid">
   		<div class="span10 offset1">

                    <p> En la Tarifa d'un Allotjament Residencial Universitari STUDENT LIFE estan compresos els següents DRETS, EQUIPAMENT i SERVEIS:
                    </p>
                    
                		<div class="span10 offset1">
                    		<ol>
	                    		<li>DRETS i EQUIPAMENT</li>
	                    		<ol type="a">
	                    			<li>Estança i Equipament Exclusiu de Client:Habitació <a href="#"  class="adicional" data-toggle="popover" data-placement="top" data-content="Fa referència al caràcter Personal-Privatiu i no a la seva superfície i/o característiques físiques que pot variar segons l’Habitatge." >Individual(*)</a>,
	                    				<a href="#"  class="adicional" data-toggle="popover" data-placement="top" data-content="Segons disponibilitat el llit pot ser doble o tipus matrimoni." >llit individual(**)</a> ,
	                    				tauleta de nit,taula d'estudi,prestatgeria i armari 
	                    				<a href="#"  class="adicional" data-toggle="popover" data-placement="top" data-content="Segons disponibilitat l'armari pot tenir més volum." >individual(***)</a>.
	                    				
	                    				
	                    				</li>
	                    			<li>Estances  no exclusives o compartides:Dret d'Ús d'Espais Comuns;distribuïdors,passadissos,sales,menjadors,banys,cuina,terrasses,safareig i qualsevol altra estança de tipus no exclusiu.</li>
	                    			<li>.Equipaments Comuns o Compartits del Client:Rentadora,Taula de Planxar,Planxa,Nevera i qualsevol altre de la mateixa natura subministrat per STUDENTS LIFE.</li>
	                    		</ol>
	                    		
	                    		
	                    		
	                    		
	                    	<li>SERVEIS:Els serveis que oferim en els nostres Habitatges Residencials Universitaris STUDENT LIFE i als quals es ens referim podran ser Comuns o Opcionals:</li>
	                    		<ol type="a">
	                    			<li>Serveis Comuns: són aquells als quals tenen dret tots els Clients d'un Habitatge Universitari STUDENT LIFE i estan inclosos en el Preu què el Client paga.
	                    				<ul>
		                    				<li>Connexió WI-FI a Internet i Comunicació Telefònica(només trucades entrants).</li>
											<li>Servei de Neteja. Setmanalment tindrà lloc un servei de neteja dels espais comuns no 	exclusius esmentats al punt 1b.</li>
										</ul>	                    				
	                    			</li>
	                    			<li>Serveis Opcionals: Són aquells que es pacten a les Condicions Particulars a la formalització del Contracte de Prestació de Servei d'Allotjament Residencial Universitari.
	                    				<ul>
	                    				
		                    				<li>Servei de Neteja dels Espais Privatius no Comuns.</li>
		                    				<li>Servei de Bugada i Planxat.</li>
	                    				</ul>
	                    			</li>
	                    		</ol>
	                    	</ol>
	                    	<div class="alert alert-success">(*) Fa referència al caràcter Personal-Privatiu i no a la seva superfície i/o característiques físiques que pot variar segons l’Habitatge.</div>
	                    	<div class="alert alert-success">(**)Segons disponibilitat el llit pot ser doble o tipus matrimoni.</div>
	                    	<div class="alert alert-success">(***)Segons disponibilitat l'armari pot tenir més volum.</div>
							<hr style="margin:45px 0 35px" />
							
						</div>
		</div>
		
    </div>
                  
                 
{% endblock %}

{% block codi %}
	<script>
		$('.adicional').popover()	
	</script>
	
{% endblock %}
