{% extends 'bases/index.html' %}



                      		


{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Navegació <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
      <ul class="nav nav-pills ddmenu">
                                <li class="dropdown active"><a href="index.html">Inici</a></li>
                                <li class="dropdown"><a href="grid.html">Serveis</a></li>
                                <li class="dropdown"><a href="grid.html">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="grid.html">Contacte</a></li>
                                <li class="dropdown"><a href="grid.html">Condicions</a></li>
                                <li class="dropdown"><a href="grid.html">Enllaços</a></li>

                            </ul>
            </div>
{% endblock %}
