{% extends 'bases/index.html' %}

{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Navegació <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
      <ul class="nav nav-pills ddmenu">
                                <li class="dropdown"><a href="/">Nou</a></li>
                                
                                <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                <li class="dropdown active"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/condicions">Condicions i contracte</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
            </div>
{% endblock %}


{% block contingut %}
   <h1>Gestió Habitatges</h1>
   
   	<form method="post"  enctype="multipart/form-data">
   		<label>Apartament</label>
   		  <select id= "apartaments" name="apartament" >
   		  	<option value=""></option>
   		  </select>
   		  
   		  <label>Habitatges</label>
   		  <select id= "habitatges" name="habitatge" >
   		  </select>
   		
   		<label>Nom</label>
   		<input type="text" name="nom"/>
   		

   		<label>Referència</label>
   		<input type="text" name="referència"/>
   		
   		<label>Descripció</label>
   		<textarea name="descripcio"></textarea>
   		
   		<h2>Imatges</h2>
   		<input type="file" name="imatges[]" id="imatges" multiple="" onchange="ferLlistaFitxers();"/>
   		<h2>Fitxers Seleccionats:</h2>
		<ul id="fileList"><li>No Files Selected</li></ul>
		
   		<input class="btn" type="submit" />
   	</form>
         

		
		
    
                 
{% endblock %}

{% block codi %}
<script>
	$.getJSON("http://localhost:8080/gestio/consulta?taula=apartament",
		function(data) {
			$.each(data, function(key,val){
				$('#apartaments').append('<option value="' + val + '">'+key+'</option>')
			});
		});
		
	$('#apartaments').change(function(){
		$("#habitatges > option").remove();
		$.getJSON("http://localhost:8080/gestio/consulta?taula=habitatge;apartament_id="+$(this).val(),
			function(data) {
				$.each(data, function(key,val){
					$('#habitatges').append('<option value="' + val + '">'+key+'</option>')
				});
			});
	});
	
	$(document).ready(
		function() {
			var hola = $("#apartaments option:first").val();
			var url = "http://localhost:8080/gestio/consulta?taula=habitatge;apartament_id="+hola;
			console.log(hola);
			$.getJSON(url,
			function(data) {
				console.log('hola');
				$.each(data, function(key,val){
					$('#habitatges').append('<option value="' + val + '">'+key+'</option>')
				});
			});
			
		}
	)
</script>
{% endblock %}