{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/contacte">Català</a>/<a href="/es/contacte">Castellano</a>/<a href="/en/contacte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Navegació <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
      <ul class="nav nav-pills ddmenu">
                                <li class="dropdown"><a href="/">Inici</a></li>
                                
                                <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                <li class="dropdown"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/condicions">Condicions i contracte</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown active"><a href="/reserves">Reserves</a></li>
                            </ul>
            </div>
{% endblock %}



{% block contingut %}
		<div class="span4 offset4">
			<form method="post" enctype="multipart/form-data">
			  <fieldset>
			    <legend>Legend</legend>
			    <label>Label name</label>
			    <input type="text" name"prova" placeholder="Type something…">
			    <span class="help-block">Example block-level help text here.</span>
			    <label class="checkbox">
			      <input type="checkbox"> Check me out
			    </label>
			    <h2>Fitxers Adjunts</h2>
		   		<input type="file" name="imatges[]" id="imatges" multiple="" onchange="ferLlistaFitxers();"/>
		   		<h2>Fitxers Seleccionats:</h2>
				<ul id="fileList"><li>Cap fitxer adjuntat</li></ul>
			    
			      <script type="text/javascript"
				     src="http://www.google.com/recaptcha/api/challenge?k=6LdYHuMSAAAAAHVyyt9JLh5sxGOyTLCAh8NGn7WN">
				  </script>
				  <noscript>
				     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdYHuMSAAAAAHVyyt9JLh5sxGOyTLCAh8NGn7WN"
				         height="300" width="500" frameborder="0"></iframe><br>
				     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
				     </textarea>
				     <input type="hidden" name="recaptcha_response_field"
				         value="manual_challenge">
				  </noscript>
							    
			    <button type="submit" class="btn">Submit</button>
			  </fieldset>
			</form>
			
            
		</div>
		
		<script type="text/javascript">
  function ferLlistaFitxers() {
    var input = document.getElementById("imatges");
    var ul = document.getElementById("fileList");
    while (ul.hasChildNodes()) {
      ul.removeChild(ul.firstChild);
    } 
    for (var i = 0; i < input.files.length; i++) {
      var li = document.createElement("li");
      li.innerHTML = input.files[i].name;
      ul.appendChild(li);
    }
    if(!ul.hasChildNodes()) {
      var li = document.createElement("li"); 
      li.innerHTML = 'No Files Selected';
      ul.appendChild(li);
    }
  } 
</script>     
{% endblock %}
