{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/contacte">Català</a>/<a href="/es/contacte">Castellano</a>/<a href="/en/contacte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Navegació <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
      <ul class="nav nav-pills ddmenu">
                                <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown"><a href="/concepte">Concepte</a></li>
                                <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                <li class="dropdown"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/condicions">Condicions</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown active"><a href="/reserves">Reserves</a></li>
                            </ul>
            </div>
{% endblock %}



{% block contingut %}
		<div class="span4 offset4">

				
                                                               
                    <ul id="contact-info">
                    <li>                                    
                        <i class="general foundicon-phone icon"></i>
                        <span class="field">Telèfon:</span>
                        <br />
                        (123) 456 7890 / 456 7891                                                                      
                    </li>
                    <li>
                        <i class="general foundicon-mail icon"></i>
                        <span class="field">Correu:</span>
                        <br />
                        <a href="mailto:info@yourdomain.com" title="Email">info@yourdomain.com</a>
                    </li>
                    <li>
                        <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                        <span class="field">Adreça:</span>
                        <br />
                        123 Street<br />
                        12345 City, State<br />
                        Country
                    </li>
                    </ul>

                </div>
            </div>
		</div>
{% endblock %}
