{% extends 'bases/index.html' %}

{% block llengua %}
	<div class="pull-right" id="llengua"><div id="llengua"><a href="/contacte">Català</a>/<a href="/es/contacte">Castellano</a>/<a href="/en/contacte">English</a></div></div>
{% endblock %}


                      		


{% block menu %}
  <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            Menú <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                               <li class="dropdown"><a href="/">Inici</a></li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle">Menu <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                        	
                                        	 <li class="dropdown"><a href="/drets">Drets, Equipament i Serveis</a></li>
                                			
                                			<li class="dropdown"><a href="/condicions">Condicions i contracte</a></li>
                                			<li class="dropdown"><a href="/enllacos">Enllaços d'interés</a></li>
                                			<li class="dropdown active"><a href="/suggerències">Suggerencies</a></li>
                                
                                        </li>
                      
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/tarifes">Localització i Tarifes</a></li>
                                <li class="dropdown"><a href="/contacte">Contacte</a></li>
                                <li class="dropdown"><a href="/reserves">Reserves</a></li>
                            </ul>
                        </div>
{% endblock %}



{% block contingut %}
		<div class="span6 offset3"> 
		  <div class="sidebox">
			<form class="form-horizontal" method="post" enctype="multipart/form-data">
			  <fieldset>
			  	
			    <br />
			    <legend>Suggerències</legend>
			    <textarea class="input-xxlarge" name="suggerencia" rows="7"></textarea>
			    <label>Nom i cognoms</label>
			    <input type="text" name="nom" placeholder="">
			    <br />
			    <label>Correu</label>
			    <input type="email" name="correu" placeholder="">
			    <br />
			    
			    
			    
			      <script type="text/javascript"
				     src="http://www.google.com/recaptcha/api/challenge?k=6LdYHuMSAAAAAHVyyt9JLh5sxGOyTLCAh8NGn7WN">
				  </script>
				  <noscript>
				     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdYHuMSAAAAAHVyyt9JLh5sxGOyTLCAh8NGn7WN"
				         height="300" width="500" frameborder="0"></iframe><br>
				     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
				     </textarea>
				     <input type="hidden" name="recaptcha_response_field"
				         value="manual_challenge">
				  </noscript>
					<br/>	    
			    <input type="submit" class="btn btn-primary btn-large" value="Enviar"></button>
			  </fieldset>
			</form>
		  </div>
            
		</div>
		
    
{% endblock %}
